.sidebar{ 
    background-color: white;
    top:57px;
    left:0px;
    bottom: 0;
    width:75px;
    position: fixed;
    color:black;
    padding-left: 5px;
   

}
.nameicon{
    font-family: "Roboto",sans-serif;
    font-size:10px ;
    text-align: center;
    
    margin-top:0px;
    

}
.home,.explore,.subscriptions,.original,.lib,.ytmusic{
    width:25px;
    height:55px;
    margin-left: 25px;
    /* margin-top:0px */
}